# Entorno virtual
venv/

# Archivos Python compilados
__pycache__/
*.py[cod]

# Archivos de configuración del sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Archivos del entorno de desarrollo
*.vscode
